.container1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 350px;
}
.container1 img{
    width: 220px;
    height: 300px;
    border-radius: 10px;
}
.container1 h2{
    display: flex;
    justify-content: center;
    color: #333;
    text-transform: uppercase;
    font-family: Verdana;
    background-color: #FFD700;
    padding: 2px;
    border-radius: 10px;
}
.film1 img{
    max-width: 100%;
}

.column{
    min-height:  80vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}